.container {
    display: grid;
    margin: auto;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-row-gap: 20px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 14rem;

}

.text a {
    color: red;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.text a:hover {
    transition: ease-in 0.2s;
    padding: 1px;
    background-color: rgb(255, 255, 255, 0.3);
}

.block {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 14rem;
    border-radius: 6%;
    background-color: #6642c9;
    transition: ease-in 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block:hover {
    background-color: #7450d8;
    transition: ease-in 0.2s;
}