.App {
  text-align: center;
}

.Background {
  background-color: #341c75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container {
  background-color: #4e329c;
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border-radius: 6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


